<section class='goals_list'>
  <ul>
    <% @goals_list.each do |goal| %>
      <li>
        <%= goal %>
        <a href='/link_to_add'><button type='button'>Delete</button></a>
      </li>
    <% end %>
  </ul>
</section>