<!doctype html>
<html lang="en-US">
  <head>
    <title>Habit Mastery</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
  </head>
  <body>
    <header>
      <h1>Habit Mastery</h1>
    </header>
    <main>
      <%== yield %>
    </main>
  </body>
</html>